{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="jumbotron">
    <h1 class="display-4">Hadithi <i class="fas fa-book"></i></h1>
    <hr class="my-4">
    <p>Love short stories? Here at Hadithi you can read and share your short stories with the world.</p>
    <a class="btn btn-primary btn-lg" href="/write_story" role="button">Share Story <i class="far fa-share-square"></i></a>
    <a class="btn btn-primary btn-lg" href="/stories" role="button">Read Stories <i class="fas fa-book-reader"></i></a>

  </div>
</div>
  

{% endblock %}